body {
  font-family:Georgia,serif;
  margin:20px;
  background-color: #fff8dc;
  color: #333;
}


.footer {
  background-color: grey;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;  
}
